<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-cocktail">
      <!-- Logo -->
      <a href="/" class="navbar-cocktail-brand">
        <%= image_tag "logo.png", {class: "img-circle", id: "logo"} %>
      </a>
      <!-- Right Navigation -->
      <div class="navbar-cocktail-right">
        <form action class="navbar-cocktail-search">
          <input type="text" class="navbar-cocktail-search-input" placeholder="Search Here....">
          <button type="submit" class="navbar-cocktail-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </form>
        <a class="navbar-cocktail-item navbar-cocktail-link" href="#">
          <div class="badge-container">
            <i class="fa fa-envelope-o"></i>
            <div class="badge badge-red">4</div>
          </div>
        </a>

        <!-- Dropdown appearing on mobile only -->
        <div class="navbar-cocktail-item ">
          <div class="dropdown">
            <a href="/" class="navbar-cocktail-brand">
              <%= image_tag "cocktail.jpg", {class: "img-circle", id: "pic"} %>
            </a>
            <i class="fa fa-bars dropdown-toggle" id="navbar-cocktail-menu" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-cocktail-dropdown-menu">
              <li><a href="/cocktails/new">Add a Cocktail</a></li>
              <li><a href="#">Find a Cocktail Bar</a></li>
              <li><a href="#">Plan a Party</a></li>
              <li><a href="#">Make a CC List</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
