<%= simple_form_for [cocktail, dose] do |f| %>
  <% if dose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dose.errors.count, "error") %> prohibited this dose from being saved:</h2>

      <ul>
      <% dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :description %>
  <%= f.hidden_field :cocktail_id, value: "#{params[:cocktail_id]}" %>
  <%= f.input :ingredient_id, collection: Ingredient.all.map{|i| [i.name, i.id]} %>
  <%= f.submit "add dose", class: "btn btn-primary" %>

 <!--  <div class="field">
    <%= f.label :description, "Enter in correct amount of doses:" %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
